/build
/tests/tmp/
/vendor/
/vendor-bin/*/vendor
/.phpmd.result-cache.php
/.phpunit.result.cache
/.phpunit.cache
/.phpcs-cache
/composer.lock
/coverage.xml
/phpcs.xml
/phpunit.xml
/phpstan.neon
/psalm.xml
