parameters:
  level: max
  paths:
    - src
    - tests
  excludePaths:
    - tests/tmp/*
  polluteScopeWithLoopInitialAssignments: true
  polluteScopeWithAlwaysIterableForeach: true
  polluteScopeWithBlock: true
  ignoreErrors:
    -
        messages:
            - '#Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\)#'
        identifier: staticMethod.alreadyNarrowedType
        path: tests
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
