parameters:
  level: max
  phpVersion:
    min: 80200
    max: 80599
  paths:
    - src
    - tests
  excludePaths:
    - tests/tmp/*
  polluteScopeWithLoopInitialAssignments: true
  polluteScopeWithAlwaysIterableForeach: true
  polluteScopeWithBlock: true
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
